if SHIELD_FALKOR_DONGLE

config ZMK_KEYBOARD_NAME
	default "Falkor"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_STUDIO
	default y

endif

if SHIELD_FALKOR_DONGLE || SHIELD_FALKOR_LEFT || SHIELD_FALKOR_RIGHT

config ZMK_SPLIT
	default y
	
endif
