config SHIELD_FALKOR_DONGLE
	def_bool $(shields_list_contains,falkor_dongle)

config SHIELD_FALKOR_LEFT
	def_bool $(shields_list_contains,falkor_left)

config SHIELD_FALKOR_RIGHT
	def_bool $(shields_list_contains,falkor_right)
