config SHIELD_EGROF_DONGLE
	def_bool $(shields_list_contains,egrof_dongle)

config SHIELD_EGROF_LEFT
	def_bool $(shields_list_contains,egrof_left)

config SHIELD_EGROF_RIGHT
	def_bool $(shields_list_contains,egrof_right)
